In [2]:
# %load ("bank_1min.RData")
#bank_1min.RData

In [3]:
pip install pyreadr

Collecting pyreadr
  Downloading https://files.pythonhosted.org/packages/e1/c0/649afdcad64f3a10057036b2041cfdae1a090555d4a033c00b7b46dba3af/pyreadr-0.2.3-cp37-none-win_amd64.whl (873kB)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from pyreadr) (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from pandas->pyreadr) (1.16.4)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas->pyreadr) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\programdata\anaconda3\lib\site-packages (from pandas->pyreadr) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas->pyreadr) (1.12.0)
Installing collected packages: pyreadr
Successfully installed pyreadr-0.2.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pyreadr

result = pyreadr.read_r('bank_1min.RData')

df = result['bank_1min']

In [5]:

print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [6]:
import pandas as pd
df.to_csv('bank1min')

In [7]:
data = pd.read_csv('bank1min')

In [8]:
data

,Unnamed: 0,index,date,time,open,high,low,close,id
0,0,BANKNIFTY,20121203,09:16,12125.70,12161.70,12125.70,12160.95,2012DECBNF.txt
1,1,BANKNIFTY,20121203,09:17,12161.75,12164.80,12130.40,12130.40,2012DECBNF.txt
2,2,BANKNIFTY,20121203,09:18,12126.85,12156.10,12126.85,12156.10,2012DECBNF.txt
3,3,BANKNIFTY,20121203,09:19,12157.25,12164.75,12151.60,12164.20,2012DECBNF.txt
4,4,BANKNIFTY,20121203,09:20,12162.80,12162.80,12148.20,12151.15,2012DECBNF.txt
5,5,BANKNIFTY,20121203,09:21,12152.95,12159.90,12151.90,12158.15,2012DECBNF.txt
6,6,BANKNIFTY,20121203,09:22,12163.35,12165.65,12146.05,12146.05,2012DECBNF.txt
7,7,BANKNIFTY,20121203,09:23,12147.00,12153.65,12143.70,12152.95,2012DECBNF.txt
8,8,BANKNIFTY,20121203,09:24,12151.10,12153.40,12149.70,12152.55,2012DECBNF.txt
9,9,BANKNIFTY,20121203,09:25,12152.10,12152.10,12143.20,12143.20,2012DECBNF.txt
10,10,BANKNIFTY,20121203,09:26,12141.05,12142.20,12136.95,12138.65,2012DECBNF.txt
11,11,BANKNIFTY,20121203,09:27,12140.15,12140.15,12133.30,12136.80,2012DECBNF.txt
12,12,BANKNIFTY,20121203,09:28,12135.30,12135.30,12132.90,12134.00,2012DECBNF.txt
13,13,BANKNIFTY,20121203,09:29,12131.75,12154.10,12131.75,12154.10,2012DECBNF.txt
14,14,BANKNIFTY,20121203,09:30,12154.15,12154.55,12149.00,12154.55,2012DECBNF.txt
15,15,BANKNIFTY,20121203,09:31,12156.20,12161.50,12155.60,12161.50,2012DECBNF.txt
16,16,BANKNIFTY,20121203,09:32,12163.55,12163.55,12153.30,12155.45,2012DECBNF.txt
17,17,BANKNIFTY,20121203,09:33,12156.70,12162.55,12155.35,12159.80,2012DECBNF.txt
18,18,BANKNIFTY,20121203,09:34,12163.35,12164.60,12160.40,12164.60,2012DECBNF.txt
19,19,BANKNIFTY,20121203,09:35,12162.30,12162.30,12158.35,12159.10,2012DECBNF.txt
20,20,BANKNIFTY,20121203,09:36,12158.60,12159.40,12157.75,12158.10,2012DECBNF.txt
21,21,BANKNIFTY,20121203,09:37,12158.80,12161.55,12158.80,12161.15,2012DECBNF.txt
22,22,BANKNIFTY,20121203,09:38,12159.45,12160.10,12154.05,12154.05,2012DECBNF.txt
23,23,BANKNIFTY,20121203,09:39,12153.65,12154.30,12151.35,12151.35,2012DECBNF.txt
24,24,BANKNIFTY,20121203,09:40,12150.90,12157.15,12150.90,12155.55,2012DECBNF.txt
25,25,BANKNIFTY,20121203,09:41,12156.05,12159.05,12155.00,12155.50,2012DECBNF.txt
26,26,BANKNIFTY,20121203,09:42,12156.45,12158.85,12154.70,12158.85,2012DECBNF.txt
27,27,BANKNIFTY,20121203,09:43,12158.80,12162.75,12155.50,12157.60,2012DECBNF.txt
28,28,BANKNIFTY,20121203,09:44,12158.75,12160.15,12156.45,12159.55,2012DECBNF.txt
29,29,BANKNIFTY,20121203,09:45,12161.50,12162.80,12156.20,12156.75,2012DECBNF.txt
...,...,...,...,...,...,...,...,...,...
367545,367545,BANKNIFTY,20160930,15:01,19259.85,19259.85,19247.55,19249.90,2016SEPBNF.txt
367546,367546,BANKNIFTY,20160930,15:02,19250.05,19257.85,19243.50,19249.55,2016SEPBNF.txt
367547,367547,BANKNIFTY,20160930,15:03,19248.65,19249.85,19236.50,19239.35,2016SEPBNF.txt
367548,367548,BANKNIFTY,20160930,15:04,19238.50,19242.60,19233.60,19242.50,2016SEPBNF.txt
367549,367549,BANKNIFTY,20160930,15:05,19242.05,19250.00,19237.95,19244.15,2016SEPBNF.txt
367550,367550,BANKNIFTY,20160930,15:06,19245.15,19245.15,19238.60,19238.60,2016SEPBNF.txt
367551,367551,BANKNIFTY,20160930,15:07,19239.45,19239.85,19229.45,19230.25,2016SEPBNF.txt
367552,367552,BANKNIFTY,20160930,15:08,19231.30,19232.45,19225.55,19230.35,2016SEPBNF.txt
367553,367553,BANKNIFTY,20160930,15:09,19229.90,19243.95,19228.60,19240.15,2016SEPBNF.txt
367554,367554,BANKNIFTY,20160930,15:10,19241.75,19252.70,19241.30,19248.35,2016SEPBNF.txt
367555,367555,BANKNIFTY,20160930,15:11,19249.75,19253.95,19242.95,19252.65,2016SEPBNF.txt
367556,367556,BANKNIFTY,20160930,15:12,19254.55,19265.50,19252.50,19256.30,2016SEPBNF.txt
367557,367557,BANKNIFTY,20160930,15:13,19256.25,19265.75,19255.45,19263.65,2016SEPBNF.txt
367558,367558,BANKNIFTY,20160930,15:14,19264.05,19265.45,19256.35,19259.40,2016SEPBNF.txt
367559,367559,BANKNIFTY,20160930,15:15,19259.35,19267.55,19254.20,19263.30,2016SEPBNF.txt
367560,367560,BANKNIFTY,20160930,15:16,19263.05,19278.20,19262.80,19278.20,2016SEPBNF.txt
367561,367561,BANKNIFTY,20160930,15:17,19283.15,19298.00,19277.40,19289.45,2016SEPBNF.txt
367562,367562,BANKNIFTY,20160930,15:18,19290.20,19305.35,19288.05,19303.20,2016SEPBNF.txt
367563,367563,BANKNIFTY,20160930,15:19,19300.70,19307.65,19295.45,19302.05,2016SEPBNF.txt
367564,367564,BANKNIFTY,20160930,15:20,19296.90,19305.00,19294.90,19297.55,2016SEPBNF.txt
367565,367565,BANKNIFTY,20160930,15:21,19298.80,19312.65,19296.55,19309.65,2016SEPBNF.txt
367566,367566,BANKNIFTY,20160930,15:22,19307.65,19317.60,19306.85,19308.70,2016SEPBNF.txt
367567,367567,BANKNIFTY,20160930,15:23,19309.20,19323.40,19309.20,19315.80,2016SEPBNF.txt
367568,367568,BANKNIFTY,20160930,15:24,19315.70,19318.10,19312.25,19312.70,2016SEPBNF.txt
367569,367569,BANKNIFTY,20160930,15:25,19311.65,19323.10,19309.10,19317.65,2016SEPBNF.txt
367570,367570,BANKNIFTY,20160930,15:26,19321.00,19322.80,19314.25,19318.35,2016SEPBNF.txt
367571,367571,BANKNIFTY,20160930,15:27,19318.80,19322.20,19312.30,19317.40,2016SEPBNF.txt
367572,367572,BANKNIFTY,20160930,15:28,19317.55,19323.40,19314.45,19315.95,2016SEPBNF.txt
367573,367573,BANKNIFTY,20160930,15:29,19315.80,19324.20,19312.00,19314.10,2016SEPBNF.txt
367574,367574,BANKNIFTY,20160930,15:30,19313.60,19330.85,19311.20,19323.20,2016SEPBNF.txt

In [9]:
time9 = df[df['time']=='09:16']
time10 = df[df['time']=='10:00']
time11 = df[df['time']=='11:00']
time12 = df[df['time']=='12:00']
time13= df[df['time']=='13:00']
time14 = df[df['time']=='14:00']
time15 = df[df['time']=='15:00']
time1530 = df[df['time']=='15:30']

In [10]:
time9=time9.append(time10)
time9=time9.append(time11)
time9=time9.append(time12)
time9=time9.append(time13)
time9=time9.append(time14)
time9=time9.append(time15)
time9=time9.append(time1530)

In [11]:
bank1hour = time9.sort_index()

In [12]:
bank1hour.to_csv('bank1hour.csv')

In [44]:
bank1hour.head()

,index,date,time,open,high,low,close,id
0,BANKNIFTY,20121203,09:16,12125.70,12161.70,12125.70,12160.95,2012DECBNF.txt
44,BANKNIFTY,20121203,10:00,12117.15,12121.75,12109.10,12109.10,2012DECBNF.txt
104,BANKNIFTY,20121203,11:00,12091.65,12093.55,12090.05,12091.35,2012DECBNF.txt
164,BANKNIFTY,20121203,12:00,12095.30,12099.20,12095.30,12098.90,2012DECBNF.txt
224,BANKNIFTY,20121203,13:00,12100.40,12104.90,12100.40,12102.80,2012DECBNF.txt

In [13]:
bank1hour.tail()

,index,date,time,open,high,low,close,id
367364,BANKNIFTY,20160930,12:00,19196.85,19199.40,19190.5,19191.95,2016SEPBNF.txt
367424,BANKNIFTY,20160930,13:00,19199.90,19212.90,19196.1,19201.70,2016SEPBNF.txt
367484,BANKNIFTY,20160930,14:00,19258.35,19259.10,19246.3,19247.15,2016SEPBNF.txt
367544,BANKNIFTY,20160930,15:00,19248.80,19267.20,19244.1,19259.40,2016SEPBNF.txt
367574,BANKNIFTY,20160930,15:30,19313.60,19330.85,19311.2,19323.20,2016SEPBNF.txt

In [16]:
result = pyreadr.read_r('data/companyList.RData')

#clist = result['company_list']
type(result)

collections.OrderedDict

In [40]:
cmp_list = result['companyList']
cmp_list.head(20)

                                  company          id    data
0                             3i Infotech  3IINFOTECH  nse_AA
1              8K Miles Software Services     8KMILES  nse_AA
2                   Aban Offshore Limited        ABAN  nse_AA
3                   Aban Offshore Limited        ABAN  nse_AA
4                           A B B Limited         ABB  nse_AA
5                    Abbott India Limited  ABBOTINDIA  nse_AA
6               Aditya Birla Nuvo Limited  ABIRLANUVO  nse_AA
7                             ACC Limited         ACC  nse_AA
8               Adani Enterprises Limited    ADANIENT  nse_AA
9   Adani Ports and Special Economic Zone  ADANIPORTS  nse_AA
10                    Adani Power Limited  ADANIPOWER  nse_AA
11            Ahluwalia Contracts Limited       India  nse_II
12            Ahmednagar Forgings Limited  AHMEDFORGE  nse_AA
13              A I A Engineering Limited      AIAENG  nse_AA
14                           ALSTOM India         AIL  nse_AA
15                  Ajanta Pharma Limited  AJANTPHARM  nse_AA
16                       Akzo Nobel India   AKZOINDIA  nse_AA
17                         Allahabad Bank        ALBK  nse_AA
18                        Alembic Limited  ALEMBICLTD  nse_AA
19      Allcargo Global Logistics Limited    ALLCARGO  nse_AA

In [30]:
file = pyreadr.read_r('data/nse_AA.RData')
nseAA = file['nse_AA']
nseAA.head(20)

            id      date      time  open  high   low  close volume
0   3IINFOTECH  20150703  09:16:00  4.55  4.55  4.55   4.55    835
1   3IINFOTECH  20150703  09:17:00  4.55  4.55  4.55   4.55    390
2   3IINFOTECH  20150703  09:18:00  4.55  4.55  4.55   4.55   1000
3   3IINFOTECH  20150703  09:19:00  4.55  4.55  4.55   4.55   1150
4   3IINFOTECH  20150703  09:20:00  4.55  4.55  4.55   4.55   1100
5   3IINFOTECH  20150703  09:21:00  4.55  4.55  4.55   4.55   4500
6   3IINFOTECH  20150703  09:22:00  4.55  4.55  4.55   4.55   1500
7   3IINFOTECH  20150703  09:23:00  4.55  4.55  4.55   4.55   5540
8   3IINFOTECH  20150703  09:24:00  4.55  4.55  4.55   4.55   1500
9   3IINFOTECH  20150703  09:26:00  4.55  4.55  4.55   4.55    200
10  3IINFOTECH  20150703  09:27:00  4.55  4.55  4.55   4.55    900
11  3IINFOTECH  20150703  09:28:00  4.55  4.55  4.55   4.55   5000
12  3IINFOTECH  20150703  09:29:00  4.55  4.55  4.55   4.55    475
13  3IINFOTECH  20150703  09:30:00  4.55  4.55  4.55   4.55   3700
14  3IINFOTECH  20150703  09:31:00  4.55  4.55  4.55   4.55   5000
15  3IINFOTECH  20150703  09:32:00  4.55  4.55  4.55   4.55    500
16  3IINFOTECH  20150703  09:33:00  4.55  4.55  4.55   4.55    350
17  3IINFOTECH  20150703  09:34:00  4.55  4.55  4.55   4.55    200
18  3IINFOTECH  20150703  09:35:00  4.55  4.55  4.55   4.55    900
19  3IINFOTECH  20150703  09:36:00  4.55  4.55  4.55   4.55    500

In [42]:
ABB = nseAA.loc[nseAA['id']=='ABB']
ABB.head()

         id      date      time    open     high      low    close volume
224772  ABB  20150703  09:16:00  1365.3  1370.95  1365.30  1369.55     82
224773  ABB  20150703  09:17:00  1371.0  1378.00  1370.80  1378.00    827
224774  ABB  20150703  09:18:00  1378.0  1378.00  1375.00  1376.00    425
224775  ABB  20150703  09:19:00  1377.9  1378.00  1375.00  1375.05    398
224776  ABB  20150703  09:20:00  1375.0  1377.70  1367.45  1368.00    279

In [43]:
ALBK = nseAA.loc[nseAA['id']=='ALBK']
ALBK.head()

           id      date      time   open  high    low  close volume
1003140  ALBK  20150703  09:16:00  88.00  88.3  87.65  88.20   7897
1003141  ALBK  20150703  09:17:00  88.20  88.2  88.00  88.10   6091
1003142  ALBK  20150703  09:18:00  88.05  88.3  88.05  88.20   3557
1003143  ALBK  20150703  09:19:00  88.20  88.4  88.20  88.25   8932
1003144  ALBK  20150703  09:20:00  88.25  88.3  88.10  88.25  13613